* {
  box-sizing: border-box;
  color:white;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 5rem;
}

.logo {
  width: 228px;
  background-color: antiquewhite;
}

.nav-bar {
  width: 52px;
  background-color: black;
}

.donate-button {
  width: 95px;
  background-color: antiquewhite;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.self-portrait-container {
  background-image: url(pictures/cindycutout.jpeg);
  background-size: cover;
  height: 25rem;
  background-position: 50% 50%;
}

.sign-up {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

#sign-up-form {
  height: 10rem;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
}

.input-box {
  display: flex;
  flex-direction: row;
}

.form-submit-button {
  margin-top: 1rem;
  height: 3rem;
}

.icon-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0px;
}

.social-icon {
  width: 2rem;
  height: 2rem;
  border: 1px white solid;
}

.nth:nth-child(odd) {
  background-color: white;
  height: 23rem;
}
.nth:nth-child(even) {
  background-color: #05519E;
  height: 23rem;
}

.ath:nth-child(odd) {
  background-color: black;
  height: 23rem;
}
.ath:nth-child(even) {
  background-color: grey;
  height: 23rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
} 