* {
  box-sizing: border-box;
  color:white;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.header-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 4rem;
  z-index: 1;
  width: 100%
}

.modal{
  position: fixed;
  background-color: black;
  bottom: 0;
  z-index: 10;
  top: 0;
  right:0;
  left:0;
  margin: 1rem 1rem 1rem 1rem;
}


.logo {
  width: 55%;
  background-color :white;
}

.logo > img {
  width: 100%;
}

.nav-bar {
  width: 15%;
  background-color: black;
}

.nav-donate-button {
  width: 30%;
  background-color: #05519E;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  top: 5rem;
  position: relative;
}

.portrait {
  background-image: url(pictures/cindycutout.jpeg);
  background-size: contain;
  height: 20rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-right: 4rem;
  position: relative;
}

.portrait-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 25px;
  left: 210px;
}

.portrait-text > p {
  color: black;
}

.sign-up {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.name {
  color: black;
  padding-left: .3rem;
  font-size: .85rem;
}

.email {
  color: black;
  padding-left: .3rem;
  font-size: .85rem;
}

#sign-up-form {
  height: 10rem;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

input[type=text].name {
  width: 40%;
}

input[type=text].email {
  width: 60%;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
}

.input-box {
  display: flex;
  flex-direction: row;

}

.form-submit-button {
  margin-top: 1rem;
  height: 3rem;
}

.icon-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0px;
}

.social-icon {
  width: 2rem;
  height: 2rem;
  border: 1px white solid;
}

.volunteer-contribute-buttons {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.volunteer-contribute-buttons > p {
  color: black;
}

.volunteer-button {
  background-color: #039946;
  width: 100%;
  height: 100%;
  margin: 0;
}

.contribute-button {
  background-color: #83A7E9;
  width: 100%;
  height: 100%;
  margin: 0;
}

.meetme-inside-container, .priority-inside-container {
  border: 1px black solid;
  margin-top: 1.5rem;
  height: 15rem;
}

.learn-more {
  height: 3rem;
  text-align: center;
  margin-top: 1rem;
  background-color: white;
}

.priority-inside-container {
  background-color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

.priority-list > li {
  color: black;
}

.donate {
  display: flex;
  justify-content: center;
}

.donate-button {
  height: 3rem;
  margin-top: .5rem;
  width: 8rem;
}

.twitter-feed {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

.twitter-box {
  height: 23rem;
  border: 1px black solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.twitter-top {
  background-color: #97BDFB;
}

.twitter-bottom {
  background-color: #233F94;
}

.nth:nth-child(odd) {
  background-color: #6596E6;
  height: 23rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.nth:nth-child(even) {
  background-color: #05519E;
  height: 23rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.ath:nth-child(odd) {
  background-color: #233F94;
  height: 23rem;
}
.ath:nth-child(even) {
  background-color: white;
  height: 23rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: 5rem;
}

.footer-sign-up {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  background-color: #233F94;
}

.volunteer-contribute-footer {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 20rem;
}

.footer-volunteer-button {
  margin-top: 1rem;
  height: 3rem;
}

.footer-contribute-button {
  margin-top: 1rem;
  height: 3rem;
}

.designed-by {
  text-align: center;
}

.footer-logo {
  width: 80%;
}

.footer-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

.designed-by {
  height: 15rem;
  background-color: #233F94;
}