.aboutme-portrait {
  background-image: url(pictures/5a3786_c3ab13eccc06487f9aefdfa0f1c44637_mv2.jpeg);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.meetme-main-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  top: 4rem;
  position: relative;

}

.meetme-portrait-container {
  height: 20rem;
}

.aboutme-description-container {
  height: 23rem;
  margin: 1rem 0 1rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}


.aboutme-description-container:nth-child(odd) {
  background-color: #D2D6DB;
}
