.priority-main-container {
  display: flex;
  height: fit-content;
  padding-bottom: 5rem;
  padding: 0 1rem 2rem 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.priority-m-container {
  top: 4rem;
  position: relative;
}


.priority-portrait-container {
  height: 15rem;
}

.priority-portrait {
  background-image: url(pictures/0.jpg);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.footer-container {
  top: 4rem;
}

.priority-container {
  padding: 0rem 1rem 4rem 1rem;
  height: 100%;
}

.priority-view-all-button > a {
  font-weight: 600;
}

.priority-box {
  margin-top: 5rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 5px 7px 15px #9db3c3;
  transition: transform 1.3s ease-out;
}

.priority-box:hover {
  transform: scale(1.1);
}

.priority-box:hover .overlay {
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .8s ease;
  display: flex;
}

.overlay-text {
   
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.overlay-text > p {
  word-wrap: break-word;
  text-align: center;
}

.top-box {
  background-color: red;
  height: 60%;
}

.top-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-box {
  height: 40%;
  display: flex;
  flex-direction: column;
}

.bottom-description {
  text-align: center;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-description > h1 {
  color: #05519E;
  font-size: 1.2rem;
}

.bottom-button-container {
  height: 40%;
  display: flex;
  justify-content: flex-end;
}

.bottom-button {
  height: 100%;
  width: 20%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-right{
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #EAEDF2;
}

.priority-information {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  
}

.priority-information > h1{
  color: black;
  text-align: center;
}

.priority-information > p{
  color: black;
  font-size: .8rem;
}

.priorities-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  top: 4rem;
  position: relative;
  padding-bottom: .5rem;
  
}

.priority-view-all-button {
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  margin-top: 2rem;
  background-color: #039946;
}

.priority-information {
  display: flex;
  flex-direction: column;
}

.title {
  background-color: #6596E6;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media only screen and (min-width: 400px) { 
  .priority-information > p{
    font-size: 1rem;
  }
}

@media only screen and (min-width: 700px) {
  .priority-information {
    width: 30rem;
    display: flex;
    flex-direction: column;
    padding: 4rem 0 4rem 0;
  }
  
  .priorities-container {
    justify-content: center;
    align-items: center;
  }

}

@media only screen and (min-width: 800px) {
  .priority-box {
    margin: 1.5rem;
  }
}

@media only screen and (min-width: 1000px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1501px) {
}