.volunteer-main-container {
  display: flex; 
  position: relative;
  flex-direction: column;
  background: -webkit-linear-gradient(left,#80a8e8,#5dde5b);
  padding: 1rem 1rem 1rem 1rem;
  height: 100vh;
  top: 4rem;
}

.volunteer-main-container > h1 {
  color: black;
  text-align: center;
  color: white;
}

.volunteer-form-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.8rem 1rem 1.8rem;
  background-color: white;
  height: 60vh;
  justify-content: space-evenly;
  border-radius: 5px;

}

.volunteer-input-box {
  height: 5.5vh;
  color: black;
  border-radius: 3px;
}

.volunteer-submit-box {
  height: 8vh;
  background-color: #039946;
  border-radius: 5px;
}

.volunteer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volunteer-pic {
  display: none;
}

.volunteer-input-box {
  padding-left: 1rem;
}

.volunteer-submit-box {
  font-weight: 700;
}

@media only screen and (min-width: 400px) {

}

@media only screen and (min-width: 700px) {
  .volunteer-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .volunteer-pic {
    display: unset;
    width: 100%;
    background-image: url(pictures/Miami-Dade_Skyline.jpeg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    opacity: .6;
  }
  .volunteer-container {
    width: 100%;
  }
  .volunteer-form-container {
    width: 80%;
  }
}

@media only screen and (min-width: 800px) {
}

@media only screen and (min-width: 1000px) {
  .volunteer-form-container {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1500px) {
}
